<%- include("header") -%>


<h2>This is the about page</h2>
<p>bfeuwbfjigfwjnfiuebwfiweb bfuewgdfsgfhjasjfg fhjkasdgfjkadfgkj fhaskjfhjkad fjkahf jkahfkjadh kajdfh kajdfh kjadf hkjafd hkfj </p>

<%- include("footer") -%>